<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <h2>WELCOME</h2>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form action="" method="post" enctype="multipart/form-data">
                    {%csrf_token%} 
                    {{form.as_p}}
                    <button type="submit">ADD</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <!-- end question form section -->

    <!-- answer list section -->


    <!-- question list session start -->
    {%for q in questions%}
        <div>
            {{q.description}}
            {%if q.image%}
                <img src="{{q.image.url}}" alt="">
            {%endif%}
            Asked By {{q.user}} on {{q.created_date}}

        </div>
        <div>
            <h3>Add your answer:</h3>
        <form action="{%url 'add-answer' q.id%}" method="post">
            {%csrf_token%}
            <input type="text" placeholder="Enter your answer" name="answer">
            <button type="submit">Add</button>
        </form>
        </div>
        <!-- answer list section -->
        <h2><u>Answers</u></h2>
        {%for ans in q.question_answers%}
            <div>
                {{ans.answer}} posted by {{ans.user}} on  {{ans.created_date}} <a href="">upvote</a>
            </div>
        {%endfor%}
        <!-- end answer list -->
        <hr>
    {%endfor%}
</body>
</html>